*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
} 
html{
    font-size: 20px;
}
body{
    padding-top: 70px;
    background-image: url("../img/lineas-fondo.png");
    height: auto;
    width: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.logoInicio{
    
    border-radius: 2px;
}